.preview{
    padding-bottom: 5rem;
    display: flex;
    flex-flow: column;
    height: 100%;
}

h3 {
    margin-top: 1rem;
}

img {
    height: auto;
    width: 100%;
}

.spacer {
    flex: 1 1 auto;
}