<div *ngIf="config && posts; else loadingScreen">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <a class="navbar-brand" [routerLink]="['/']" *ngIf="config; else defaultBrand">
                <img id="brandImage" *ngIf="config.navbarIcon" [src]="'https:' + config.navbarIcon.file.url" alt="" width="30" height="24" class="d-inline-block align-text-top">
                {{ config.navbarTitle }}
            </a>
            <ng-template #defaultBrand><a class="navbar-brand" [routerLink]="['/']">Name of Website</a></ng-template>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" [routerLink]="['/']" data-bs-toggle="collapse" data-bs-target="#navbarNav">Home</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>

    <router-outlet></router-outlet>

    <app-footer></app-footer>
</div>

<ng-template #loadingScreen>
    <app-loading></app-loading>
</ng-template>

<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 100;">
    <ngb-toast
        *ngFor="let toast of toastService.toasts"
        [autohide]="true"
        [delay]="toast.delay || 10000"
        (hidden)="false"
        [header]="toast.header"
        ngClass="{{toast.class}}">
        {{ toast.body }}
    </ngb-toast>
</div>