<section class="hero" [ngStyle]="{'background-image': (config === undefined) ? 'grey' : 'linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(https:' + config.hero.file.url + '?fm=webp' + ')' }">
    <div class="content">
        <h1 id="title">Title of Blog</h1>
        <p id="subText">Some description of the blog</p>
    </div>
</section>

<section class="posts container">
    <h2 class="header">Recent Posts</h2>

    <div class="row" *ngIf="posts; else elseBlock">
        <app-post-preview
                class="col-md-6" 
                *ngFor="let post of posts; let index = index"
                [blogPost]="post">
        </app-post-preview>
    </div>

    <ng-template #elseBlock>
        <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </ng-template>
</section>
