footer {
    background-color: black;
    color: white;
    height: 60px;
    display: flex;
    align-items:center;
    justify-content:center;
    margin: auto;

    p {
        margin: 0;
    }

    a {
        color: white;
    }
}