<div *ngIf="smallScreen">
    <div *ngFor="let post of posts; let index = index">
        <div class="row" *ngIf="index % 2 === 0 && posts.length > index + 1">
            <app-post-preview class="col-md-5"></app-post-preview>
            <div class="col-md-2"></div>
            <app-post-preview class="col-md-5"></app-post-preview>
        </div>
    </div>
</div>

<div *ngIf="!smallScreen">
    <div *ngFor="let post of posts; let index = index">
        <div class="row" *ngIf="index % 2 === 0 && posts.length > index + 1">
            <app-post-preview class="col-6"></app-post-preview>
            <app-post-preview class="col-6"></app-post-preview>
        </div>
    </div>
</div>

<div *ngIf="!smallScreen && oddNumberOfPosts">
    <app-post-preview class="col-6"></app-post-preview>
</div>

<div *ngIf="smallScreen && oddNumberOfPosts">
    <app-post-preview class="col-6"></app-post-preview>
</div>